@model IEnumerable<BookResponseDto>
@{
    Layout = "_AreaLayout";
}

<div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Books</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="datatable" class="table table-striped" data-toggle="data-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Mentor name</th>
                                    <th>Category name</th>
                                    <th>File</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Title</td>
                                        <td>@item.Description.Substring(0, 10)...</td>
                                        <td>@item.PublisherName</td>
                                        <td>@item.CategoryName</td>
                                        <td><a class="btn btn-primary" href="@item.PdfPath" download>Link</a></td>
                                        <td>
                                            <a asp-action="Edit" asp-controller="Book" asp-area="Admin" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
